### Folders
out/
target/
tmp/

### Extensions
*.ids
*.xml
*.iws
*.crt
*.key
*.csr
*.pem
*.p12
*.iml
.idea
.DS_Store
*-overriding.properties

# Python
*.pyc
*.ipynb_checkpoints*
__pycache__


### Files
cookies.*


# Temp
*tmp*


# Tex
.texpadtmp
.pdf
titul.*
task.*
